$black: #373231;
$gray: #262730;
$gray-light: #26273033;
$white: #f3f3f3;

$main_1: #635d73;
$main_2: #de9e86;
$main_3: #ab817e;
$main_4: #f3f3f3;

$text_1: #373231;
$text_2: #f3f3f3;
$text_3: #b13b22;

$weight_3: #004563;
$weight_1: #588da2;
$weight_1_3: #c3dde2;
$weight_0: silver;
$weight_-1_3: #e9c1c9;
$weight_-1: #c94c62;
$weight_-3: #9f1e35;

$sub_1: #c36670;
$sub_1_light: #c3667099;
$sub_2: #f5b180;
$sub_2_light: #f5b18099;
$sub_3: #f4da24;
$sub_3_light: #f4da2499;
$sub_4: #2d9058;
$sub_4_light: #2d905899;
$sub_5: #29534d;
$sub_5_light: #29534d99;
$sub_6: #5d95a3;
$sub_6_light: #5d95a399;
$sub_7: #004563;
$sub_7_light: #00456399;
$sub_8: #731a3d;
$sub_8_light: #731a3d99;