$black: #0d0d0d;
$gray: #262730;
$gray-light: #26273033;
$white: #f3f3f3;
$red: #b61f22;
$accent: #e0815e;
$maroon: #731a3d;
$maroon-light: #731a3d99;
$yellow: #f4da24;
$yellow-light: #f4da2499;
$blue: #5d98b0;
$blue-light: #5d98b099;
$green: #2e9058;
$green-light: #2e905899;